using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService

<!--Create a table listing all items in the database-->
<div class="container">
    <table class="table table-bordered table-striped" style="background-color: #E1E9E8">
        <thead>
            <tr>
                <th> Planet </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductService.GetAllData())
            {
                <tr>
                    <td> @product.Title </td>
                    <td> <a href="./Product/Read/@product.Id">Read</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

}
