@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService

<!--Create a table listing all items in the database-->
<div class="container">
<!-- Create a Table that will render the various "products" -->
</div>
@code {

}
